apiVersion: v1
kind: Service
metadata:
  name: matching-service
  namespace: rescuemesh
  labels:
    app: matching-service
spec:
  type: ClusterIP
  ports:
  - port: 3005
    targetPort: 3005
    protocol: TCP
    name: http
  selector:
    app: matching-service
