apiVersion: v1
kind: Service
metadata:
  name: disaster-service
  namespace: rescuemesh
  labels:
    app: disaster-service
spec:
  type: ClusterIP
  ports:
  - port: 3003
    targetPort: 3003
    protocol: TCP
    name: http
  selector:
    app: disaster-service
