apiVersion: v1
kind: Service
metadata:
  name: notification-service
  namespace: rescuemesh
  labels:
    app: notification-service
spec:
  type: ClusterIP
  ports:
  - port: 3006
    targetPort: 3006
    protocol: TCP
    name: http
  selector:
    app: notification-service
