apiVersion: v1
kind: Service
metadata:
  name: sos-service
  namespace: rescuemesh
  labels:
    app: sos-service
spec:
  type: ClusterIP
  ports:
  - port: 3004
    targetPort: 3004
    protocol: TCP
    name: http
  selector:
    app: sos-service
