apiVersion: v1
kind: Service
metadata:
  name: skill-service
  namespace: rescuemesh
  labels:
    app: skill-service
spec:
  type: ClusterIP
  ports:
  - port: 3002
    targetPort: 3002
    protocol: TCP
    name: http
  selector:
    app: skill-service
